<h1>Edit User</h1>

<%= form_for @user do |f| %>

  <div class="form-group">

    <label>Email</label>

    <%= f.text_field :email, class: 'form-control' %>

  </div>

  <div class="form-group">

    <label>Pasword</label>

    <%= f.password_field :password, class: 'form-control' %>

  </div>

  <div class="form-group">

    <button type="submit">Modify User</button>

  </div>

<% end %>
