<h1>User</h1>

<p> <%= @user.email %></p>

<p><a href="<%= edit_user_path %>" class="btn btn-primary">Edit User</a></p>

<p><a href="<%= @user %>" class="btn btn-danger" data-confirm="Sure about this?" data-method="DELETE">Delete User</a></p>

<p><a href="<%= root_path %>" class="btn btn-default">Back To Home</a></p>
