<footer class="footer">
  <small>
    Powered by <a href="http://simwyck.com/">SimWyck</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", 'http://simwyck.com/cv' %></li>
      <li><%= link_to "Contact", 'http://simwyck.com/contact' %></li>
    </ul>
  </nav>
</footer>
